IS_HIBERNATED=

CALIN_V1_URL=
CALIN_V1_COMPANY_NAME=
CALIN_V1_USERNAME=
CALIN_V1_PASSWORD=

CALIN_V2_API=
CALIN_V2_COMPANY_NAME=
CALIN_V2_ADMIN_USERNAME=
CALIN_V2_PASSWORD=
CALIN_V2_POS_PASSWORD=
CALIN_V2_CUSTOMER_ID=
CALIN_V2_CUSTOMER_NAME=

UPLOAD_FOLDER=

SLEEP_UNIT=

SENDGRID_API_KEY=

CAPTCHA_API=
CAPTCHA_API_KEY=

PORT=
TIAMAT_API=
HEADLESS_CHROME=
CONCURRENT_SESSIONS=

NXT_DB_HOST=

NXT_DB_PORT=
NXT_DB_USERNAME=
NXT_DB_PASSWORD=
NXT_DB_NAME=

NXT_ENV=

MAKE_API_URL=
MAKE_API_SOFTWARE_DEV_ALERT_ID=

# NXT_TIMESCALE_DB_HOST=
# NXT_TIMESCALE_DB_PORT=
# NXT_TIMESCALE_DB_USERNAME=
# NXT_TIMESCALE_DB_PASSWORD=
# NXT_TIMESCALE_DB_NAME=

SUPABASE_API_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
EXCHANGE_RATES_API_URL=
EXCHANGE_RATES_API_KEY=

CHIRPSTACK_API_URL=
CHIRPSTACK_API_TOKEN=
CHIRPSTACK_APPLICATION_ID=
CHIRPSTACK_TENANT_ID=
CHIRPSTACK_PROFILE_ID=
CHIRPSTACK_APP_KEY=

LOKI_URL=
LOKI_APP_NAME=
