IS_HIBERNATED=

NXT_PORT=
NXT_ENV="development"

# NXT DATABASE
NXT_DB_HOST=
NXT_DB_PORT=
NXT_DB_USERNAME=
NXT_DB_PASSWORD=
NXT_DB_NAME=

# SUPABASE
SUPABASE_API_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# VICTRON API
VICTRON_API_URL=
VICTRON_API_TOKEN=
VICTRON_USERNAME=
VICTRON_PASSWORD=

SOLCAST_API_URL=
SOLCAST_API_TOKEN=

NXT_TIMESCALE_DB_HOST=
NXT_TIMESCALE_DB_PORT=
NXT_TIMESCALE_DB_USERNAME=
NXT_TIMESCALE_DB_PASSWORD=
NXT_TIMESCALE_DB_NAME=

# We can use production here because it's read only
CALIN_V1_API=
CALIN_V1_COMPANY_NAME=
CALIN_V1_PASSWORD=
CALIN_V1_POS_USERNAME=
CALIN_V1_MAINTENANCE_USERNAME=

CALIN_V2_API=
CALIN_V2_COMPANY_NAME=
CALIN_V2_PASSWORD=
CALIN_V2_ADMIN_USERNAME=
CALIN_V2_CUSTOMER_NAME=

TIAMAT_API=
TIAMAT_API_KEY=

ZEROTIER_API=
ZEROTIER_TOKEN=
ZEROTIER_NETWORK=

SENDGRID_API_KEY=

MAKE_API_URL=
MAKE_API_SOFTWARE_DEV_ALERT_ID=

EXCHANGE_RATES_API_URL=
EXCHANGE_RATES_API_KEY=

CHIRPSTACK_API_URL=
CHIRPSTACK_API_TOKEN=
CHIRPSTACK_APPLICATION_ID=
CHIRPSTACK_TENANT_ID=
CHIRPSTACK_PROFILE_ID=

LOKI_URL=
LOKI_APP_NAME=
