IS_HIBERNATED=

NXT_DB_HOST=

NXT_DB_PORT=
NXT_DB_USERNAME=
NXT_DB_PASSWORD=
NXT_DB_NAME=

NXT_ENV=
NXT_PORT=
NXT_JWT_DURATION=

SUPABASE_API_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

HERMES_HOST=
HERMES_PORT=
HERMES_USERNAME=
HERMES_PASSWORD=

FLW_API=
FLW_PUBLIC_KEY=
FLW_SECRET_KEY=

FLOW_XO_API=
FLOW_XO_TOKEN_RESPONSE_PATH=

CALIN_V1_API=
CALIN_V1_COMPANY_NAME=
CALIN_V1_ADMIN_USERNAME=
CALIN_V1_ADMIN_PASSWORD=
CALIN_V1_POS_USERNAME=
CALIN_V1_POS_PASSWORD=
CALIN_V1_MAINTENANCE_USERNAME=
CALIN_V1_MAINTENANCE_PASSWORD=

CALIN_V2_API=
CALIN_V2_COMPANY_NAME=
CALIN_V2_PASSWORD=
CALIN_V2_POS_PASSWORD=
CALIN_V2_ADMIN_USERNAME=
CALIN_V2_CUSTOMER_ID=
CALIN_V2_CUSTOMER_NAME=

STS_GENERATOR_API=
STS_GENERATOR_API_KEY=

CALIN_SIMULATOR_API=

SENDGRID_API_KEY=

SENTRY_DSN=

NXT_TIMESCALE_DB_HOST=
NXT_TIMESCALE_DB_PORT=
NXT_TIMESCALE_DB_USERNAME=
NXT_TIMESCALE_DB_PASSWORD=
NXT_TIMESCALE_DB_NAME=

S3_ENDPOINT=
S3_KEY=
S3_SECRET=
S3_BUCKET=

UPLOAD_FOLDER=

TALOS_API=
YETI_API=
LOCH_API=

AYRTON_ACCOUNT_CONFIRM_URL=
AYRTON_PASSWORD_RESET_URL=

VICTRON_API_URL=
VICTRON_API_TOKEN=
VICTRON_USERNAME=
VICTRON_PASSWORD=

JIRA_API=
JIRA_SERVICE_DESK_API=
JIRA_API_USERNAME=
JIRA_API_KEY=

MAKE_API_URL=
MAKE_API_TOKEN=
MAKE_API_PAYOUT_FLOW_DRAFT_ID=

EXCHANGE_RATES_API_URL=
EXCHANGE_RATES_API_KEY=

CHIRPSTACK_API_URL=
CHIRPSTACK_API_TOKEN=
CHIRPSTACK_APPLICATION_ID=
CHIRPSTACK_TENANT_ID=
CHIRPSTACK_PROFILE_ID=
CHIRPSTACK_APP_KEY=

LOKI_URL=
LOKI_APP_NAME=

AUTOPILOT_S3_FILENAME=
AUTOPILOT_S3_REGION=
AUTOPILOT_S3_ENDPOINT=
AUTOPILOT_S3_ACCESS_KEY_ID=
AUTOPILOT_S3_ACCESS_KEY_SECRET=

# Leave these as last please
PRIVATE_KEY=
PUBLIC_KEY=
