IS_HIBERNATED=

NXT_DB_HOST=
NXT_DB_PORT=
NXT_DB_USERNAME=
NXT_DB_PASSWORD=
NXT_DB_NAME=

NXT_ENV=
NXT_PORT=

EPICOLLECT_API=

TIAMAT_API=
TIAMAT_API_KEY=

NXT_TIMESCALE_DB_HOST=
NXT_TIMESCALE_DB_PORT=
NXT_TIMESCALE_DB_USERNAME=
NXT_TIMESCALE_DB_PASSWORD=
NXT_TIMESCALE_DB_NAME=

MONGO_ATLAS_API=
MONGO_ATLAS_API_KEY=

MAKE_API_URL=
MAKE_API_TOKEN=
MAKE_API_TELEGRAM_NOTIFICATION_WEBHOOK_ID=
MAKE_API_XERO_AUTO_PAYOUT_FLOW_ID=
MAKE_CREATE_FOLDER_FLOW_ID=
MAKE_TEMPLATE_FLOW_ID=
MAKE_UPLOAD_FLOW_ID=
MAKE_SHARE_FILE_FLOW_ID=
MAKE_PD_HERO_FOLDER_PATH=

FLOW_XO_API=
FLOW_XO_REVENUE_NOTIFICATION_WEBHOOK_ID=

VICTRON_API_URL=
VICTRON_API_TOKEN=
VICTRON_USERNAME=
VICTRON_PASSWORD=

SENDGRID_API_KEY=
AYRTON_URL=

SUPABASE_API_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
AFRICASTALKING_API_KEY=
AFRICASTALKING_USERNAME=
AFRICASTALKING_SHORTCODE=
AFRICASTALKING_SENDER_ID=

EXCHANGE_RATES_API_URL=
EXCHANGE_RATES_API_KEY=

LOKI_URL=
LOKI_APP_NAME=